In [23]:
import pandas as pd
import numpy as np
import csv
import codecs

In [43]:
with open("../reviewsNew.txt",'r',encoding="ISO-8859-1") as f:
  rows = [line.split("\t") for line in f]

In [25]:
len(rows)

5838923

In [45]:
df_reviews = pd.DataFrame(data =rows[:100000],index=rows[0:100000,0],columns=rows[0,0:7]) #compress data and put into dataframe
#df_reviews.iloc[:8]

TypeError: list indices must be integers or slices, not tuple

In [40]:
df_reviews.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,A1004AX2J2HXGL,B0007RT9LC,"May 30, 2005",3,4,5.0,The film speaks for itself,The only thing missing is a presentation of t...,None,None,...,None,None,None,None,None,None,None,None,None,None
1,A1004AX2J2HXGL,B00028HBKM,"January 17, 2005",9,22,1.0,"""Life beyond the thunderdome""",I cried when I saw The PASSION OF THE CHRIST ...,None,None,...,None,None,None,None,None,None,None,None,None,None
2,A1004AX2J2HXGL,B00062IVM6,"January 17, 2005",4,7,5.0,I'm making my lunch!,WILD AT HEART on DVD. I've been waiting on t...,None,None,...,None,None,None,None,None,None,None,None,None,None
3,A1004AX2J2HXGL,B00064LJVE,"January 13, 2005",5,15,1.0,Into the woods,"M. is a hack, a second-place magician in a hi...",None,None,...,None,None,None,None,None,None,None,None,None,None
4,A1004AX2J2HXGL,B0002GMSC0,"January 6, 2005",15,15,1.0,koo-koo-ca-choo,Where do people come up with this garbage? ...,None,None,...,None,None,None,None,None,None,None,None,None,None

In [41]:
df_reviews.shape

(100000, 64)

In [32]:
df_reviews.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
20    object
21    object
22    object
23    object
24    object
25    object
26    object
27    object
28    object
29    object
       ...
34    object
35    object
36    object
37    object
38    object
39    object
40    object
41    object
42    object
43    object
44    object
45    object
46    object
47    object
48    object
49    object
50    object
51    object
52    object
53    object
54    object
55    object
56    object
57    object
58    object
59    object
60    object
61    object
62    object
63    object
Length: 64, dtype: object

In [33]:
df_reviews.rename(columns={0:"member id",1:"product id",2:"date",3:"number of helpful feedbacks",4:"number of feedbacks",5:"rating",6:"title",7:"body"},inplace=True)

In [34]:
df_reviews.head()

,member id,product id,date,number of helpful feedbacks,number of feedbacks,rating,title,body,8,9,...,54,55,56,57,58,59,60,61,62,63
0,A1004AX2J2HXGL,B0007RT9LC,"May 30, 2005",3,4,5.0,The film speaks for itself,The only thing missing is a presentation of t...,None,None,...,None,None,None,None,None,None,None,None,None,None
1,A1004AX2J2HXGL,B00028HBKM,"January 17, 2005",9,22,1.0,"""Life beyond the thunderdome""",I cried when I saw The PASSION OF THE CHRIST ...,None,None,...,None,None,None,None,None,None,None,None,None,None
2,A1004AX2J2HXGL,B00062IVM6,"January 17, 2005",4,7,5.0,I'm making my lunch!,WILD AT HEART on DVD. I've been waiting on t...,None,None,...,None,None,None,None,None,None,None,None,None,None
3,A1004AX2J2HXGL,B00064LJVE,"January 13, 2005",5,15,1.0,Into the woods,"M. is a hack, a second-place magician in a hi...",None,None,...,None,None,None,None,None,None,None,None,None,None
4,A1004AX2J2HXGL,B0002GMSC0,"January 6, 2005",15,15,1.0,koo-koo-ca-choo,Where do people come up with this garbage? ...,None,None,...,None,None,None,None,None,None,None,None,None,None