In [1]:
import json
import csv
import pandas as pd
import matplotlib.pyplot as plt

# load review data

In [3]:
data = []
with open('/home/drallab/datamining/review.json') as f:
    for line in f:
        data.append(json.loads(line))

In [4]:
len(data)   # 4736897 reviews

6685900

In [5]:
data[0]

{'business_id': 'ujmEBvifdJM6h6RLv4wQIg',
 'cool': 0,
 'date': '2013-05-07 04:34:36',
 'funny': 1,
 'review_id': 'Q1sbwvVQXV2734tPgoKj4Q',
 'stars': 1.0,
 'text': 'Total bill for this horrible service? Over $8Gs. These crooks actually had the nerve to charge us $69 for 3 pills. I checked online the pills can be had for 19 cents EACH! Avoid Hospital ERs at all costs.',
 'useful': 6,
 'user_id': 'hG7b0MtEbXx5QzbzE6C_VA'}

In [6]:
reviewid = []
businessid= []
userid = []
stars = []
text = []
date = []

for entry in range(0, len(data)):     
    reviewid.append(data[entry]['review_id'])
    businessid.append(data[entry]['business_id'])
    userid.append(data[entry]['user_id'])
    stars.append(data[entry]['stars'])
    text.append(data[entry]['text'])
    date.append(data[entry]['date'])

In [7]:
data = {'review_id':reviewid,'business_id':businessid,'user_id':userid,'stars':stars,'text':text,'date':date}
review_data  = pd.DataFrame(data)

In [8]:
review_data.head()

,business_id,date,review_id,stars,text,user_id
0,ujmEBvifdJM6h6RLv4wQIg,2013-05-07 04:34:36,Q1sbwvVQXV2734tPgoKj4Q,1.0,Total bill for this horrible service? Over $8G...,hG7b0MtEbXx5QzbzE6C_VA
1,NZnhc2sEQy3RmzKTZnqtwQ,2017-01-14 21:30:33,GJXCdrto3ASJOqKeVWPi6Q,5.0,I *adore* Travis at the Hard Rock's new Kelly ...,yXQM5uF2jS6es16SJzNHfg
2,WTqjgwHlXbSFevF32_DJVw,2016-11-09 20:09:03,2TzJjDVDEuAW6MR5Vuc1ug,5.0,I have to say that this office really has it t...,n6-Gk65cPZL6Uz8qRm3NYw
3,ikCg8xy5JIg_NGPx-MSIDA,2018-01-09 20:56:38,yi0R0Ugj_xUx_Nek0-_Qig,5.0,Went in for a lunch. Steak sandwich was delici...,dacAIZ6fTM6mqwW5uxkskg
4,b1b1eb3uo-w561D0ZfCEiQ,2018-01-30 23:07:38,11a8sVPMUFtaC7_ABRkmtw,1.0,Today was my second out of three sessions I ha...,ssoyf2_x0EQMed6fgHeMyQ

In [9]:
review_data.to_csv('review_data.csv')   # save to csv

#  load business data

In [6]:
data2 = []
with open('/home/drallab/datamining/business.json') as f:
    for line in f:
        data2.append(json.loads(line))
        
len(data2)

type(data2)

list

In [4]:
business_id = []
name = []
address = []
city = []
state = []
postal_code = []
latitude = []
longitude = []
stars = []
review_count = []
is_open = []
attributes = []
categories = []
hours = []
pricerange = []


'''for entry in range(0, len(data2)): 
    if "Restaurants" in data2[entry]["categories"]:
        business_id.append(data2[entry]['business_id'])
        name.append(data2[entry]['name'])
        address.append(data2[entry]['address'])
        city.append(data2[entry]['city'])
        state.append(data2[entry]['state'])
        postal_code.append(data2[entry]['postal_code'])
        categories.append(data2[entry]['categories'])
        latitude.append(data2[entry]['latitude'])
        longitude.append(data2[entry]['longitude'])
        stars.append(data2[entry]['stars'])
        review_count.append(data2[entry]['review_count'])
        is_open.append(data2[entry]['is_open'])
        attributes.append(data2[entry]['is_open'])
        categories.append(data2[entry]['categories'])
        hours.append(data2[entry]['hours'])
        if "RestaurantsPriceRange2" in data2[entry]['attributes']:
            pricerange.append(data2[entry]['attributes']['RestaurantsPriceRange2'])
        else:
            pricerange.append(0)'''
            
for entry in range(0,len(data2)): 
    business_id.append(data2[entry]['business_id'])
    name.append(data2[entry]['name'])
    address.append(data2[entry]['address'])
    city.append(data2[entry]['city'])
    state.append(data2[entry]['state'])
    postal_code.append(data2[entry]['postal_code'])
    categories.append(data2[entry]['categories'])
    latitude.append(data2[entry]['latitude'])
    longitude.append(data2[entry]['longitude'])
    stars.append(data2[entry]['stars'])
    review_count.append(data2[entry]['review_count'])
    is_open.append(data2[entry]['is_open'])
    attributes.append(data2[entry]['is_open'])
    categories.append(data2[entry]['categories'])
    hours.append(data2[entry]['hours'])

In [7]:
'''data2 = {'business_id ':business_id,'name':name,'city':city,'state':state,'stars':stars,'review_count':review_count,
        'categories':categories,'latitude':latitude,'longitude':longitude,'is_open':is_open,
        'pricerange':pricerange,'postal_code':postal_code}'''

data2 ={'business_id':business_id,'name':name,'address':address,'city':city,'state':state,'stars':stars,'review_count':review_count,'categories':categories,'latitude':latitude,'longitude':longitude,'is_open':is_open,'pricerange':pricerange,'postal_code':postal_code,'attributes':attributes,'pricerange':pricerange}

df = pd.DataFrame.from_dict(data2, orient='index')
business_data=df.transpose()

# clean business data keep only is_open = 1 in six states

In [8]:
IL = business_data[business_data['state']=='IL']   # PA NV NC IL OH AZ only keep these 6 states 
PA = business_data[business_data['state']=='PA'] 
NV = business_data[business_data['state']=='NV']
NC = business_data[business_data['state']=='NC']
OH = business_data[business_data['state']=='OH']
AZ = business_data[business_data['state']=='AZ']
frame = [IL,PA,NV,NC,OH,AZ]
business_info = pd.concat(frame)

In [9]:
business = business_info[business_info['is_open']==1]   # only keep restaurants that are open
business.to_csv('business_data.csv')   # save to csv

In [10]:
df = pd.read_csv('business_data.csv')
len(df)

/usr/local/share/jupyterhub/env/jupyterhub/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

112412

# Clean review: keep reviews for restaurants in cleaned business dataset

In [11]:
# Create review_subset

df = pd.read_csv('business_data.csv')
df.head()

df2 = pd.read_csv('review_data.csv')

df['key'] = df.iloc[:,1]
review = df2[df2['business_id'].isin(df['key'])]  # only keep reviews for restaurants in business_data.csv
review = review.reset_index().iloc[:,2:]

/usr/local/share/jupyterhub/env/jupyterhub/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/share/jupyterhub/env/jupyterhub/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
review.to_csv('review_subset.csv',index = False)  # save to csv

# Load user data

In [5]:
data3 = []
with open('/home/drallab/datamining/user.json') as f:
    for line in f:
        data3.append(json.loads(line))
len(data3)

1637138

In [6]:
userid = []
average_stars= []
review_count = []
yelping_since = []

for entry in range(0, len(data3)):     
    userid.append(data3[entry]['user_id'])
    average_stars.append(data3[entry]['average_stars'])
    review_count.append(data3[entry]['review_count'])
    yelping_since.append(data3[entry]['yelping_since'])

In [7]:
data3 = {'user_id':userid ,'average_stars':average_stars,'review_count':review_count,'yelping_since':yelping_since,'review_count':review_count}
user_data  = pd.DataFrame(data3)

In [8]:
user_data.head(10)

   average_stars  review_count                 user_id        yelping_since
0           4.03            95  l6BmjZMeQD3rDxWUbiAiow  2013-10-08 23:11:33
1           3.63            33  4XChL029mKr5hydo79Ljxg  2013-02-21 22:29:06
2           3.71            16  bc8C_eETBWL0olvFSJJd0w  2013-10-04 00:16:10
3           4.85            17  dD0gZpBctWGdWo9WlGuhlA  2014-05-22 15:57:30
4           4.08           361  MM4RJAeH6yuaN8oZDSt0RA  2013-10-23 07:02:50
5           4.20           214  0rK89TS8xqy1wI4nYI1wfw  2011-06-23 08:05:13
6           4.39          1122  TEtzbpgA2BFBrC0y0sCbfw  2006-02-15 18:29:35
7           4.33             6  KGuqerdeNhxzXZEyBaqqSw  2014-06-07 01:50:09
8           4.21           859  T0gWkTHWRChVUe_Dn1F8nw  2005-07-20 22:38:17
9           4.53           124  NQffx45eJaeqhFcMadKUQA  2008-12-10 22:59:45